.contactBanner__style{
    padding: 10rem 0;
}

.contactBanner__wrapper{
    background-color: #1E1E1E;
    padding: 5rem 0;
    border-radius: 12px;
    text-align: center;
}

.contactBanner__heading {
    font-size: 4rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px){
    .contactBanner__heading {
        font-size: 2.8rem;
    }
    .button-wrapper{
        width: 80%;
        margin: auto;
    }
}