.service_class {
    text-align: center;
}

.service_title {
    padding:3rem 0;
    text-align: center;
    color: #fff7e6;
}

.service_title p,span {

        color: #fff7e6;
        font-family: 'RobotoMono Regular';
        font-size: 2rem;
        margin-top: 1rem;
}
.service_title h2 {
        font-family: 'Montserrat Bold';
        font-size: 6rem;
        margin-top: 0.5rem;
        text-transform: uppercase;
        /* color: rgb(255, 102, 0); */
        color: darkorange;
}


@media only screen and (max-width: 768px){
        p {
            font-size: 1.2rem;
        }
        h2 {
            font-size: 3.6rem;
        }
}


.services__allItems {
    padding: 10rem 0;
    display: flex;
    gap: 10rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px){
    .services__allItems {
        padding: 5rem 0;
        max-width: 350px;
        margin: 0 auto;
        margin-top: 5rem;
        justify-content: center;
    }   

    .service_title p,span {
        font-size: 1.2rem;
    }
    .service_title h2 {
        font-size: 3.6rem;
    }
}
